* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(20deg,#fdba19,#ffc587,#ffcc55);
}

.App::before {
  content: '';
  display: block;
}

.container {
  color: #000;
  text-align: center;
  padding: 100px;
  display: block;
}
.not-ready {
  display: none;
}

.container h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 20px 0;
  text-shadow: #ffffff 5px 5px;
}

.container h2 {
  font-size: 2rem;
  margin: 20px 0;
}

.quizzical {
  border-radius: 15px;
  color: #000;
  margin: auto;
  padding: 0 2rem;
  width: 90%;
  background: rgba(255,255,255,0.8);
}

.start-btn, .check-ans-btn {
  color: #fff;
  background-color: #dd5a8a;
  margin: 20px 0;
  padding: 15px 60px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.start-btn:hover, .check-ans-btn:hover {
  background-color: #dd5a8a;
  box-shadow: #903153 5px 5px;
}

.option-btn {
  padding: 10px 30px;
  background-color: #9dabaf;
  border: none;
  border-radius: 50px;
  font-size: 1.3rem;
  /* font-weight: 700; */
  margin: 10px;
  color: #f7f7f7;
  cursor: pointer;
}

.option-btn:hover {
  background: #5a7177ad;
}

.option-btn.selected, .option-btn.selected:hover {
  color: white;
  background-color: #29868a;
}

.checked .option-btn.correct {
  color: white;
  border: 1px solid rgb(76, 150, 125);
  background-color: rgb(76, 150, 125);
}

.checked .option-btn.correct.selected {
  color: white;
  border: 1px solid rgb(76, 150, 125);
  background-color: rgb(76, 150, 125);
}

.checked .option-btn.selected {
  color: rgb(255 255 255);
  background-color: #91465b;
}

.trivia{
  text-align: left;
  padding: 30px 0px;
  border-bottom: 1px dashed #29868a;
}

.trivia:last-child {
  border-bottom: none;
}

.trivia .question {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0;
}


.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.check-result {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto;

}