* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(20deg, rgb(43, 43, 54), rgb(85, 75, 98), rgb(43, 43, 54));
}

.App::before {
  content: '';
  display: block;
}

.container {
  color: #fff;
  text-align: center;
  padding: 100px;
  display: block;
}
.not-ready {
  display: none;
}

.container h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 20px 0;
}

.container h2 {
  font-size: 2rem;
  margin: 20px 0;
}

.quizzical {
  margin: auto;
  width: 90%;
}

.start-btn, .check-ans-btn {
  color: #fff;
  background-color: rgb(20, 139, 128);
  margin: 20px 0;
  padding: 15px 60px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.option-btn {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.option-btn.selected {
  color: rgb(75 68 87);
  border: 1px solid rgb(225 183 198);
  background-color: rgb(225 183 198);
}

.checked .option-btn.correct {
  color: white;
  border: 1px solid rgb(76, 150, 125);
  background-color: rgb(76, 150, 125);
}

.checked .option-btn.correct.selected {
  color: white;
  border: 1px solid rgb(76, 150, 125);
  background-color: rgb(76, 150, 125);
}

.checked .option-btn.selected {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(144 130 131);
  background-color: rgb(144 130 131);
}

.trivia {
  text-align: left;
  padding: 30px 0px;
  border-bottom: 1px solid #aaa;
}

.trivia .question {
  font-weight: 700;
  font-size: 2rem;
  margin: 20px 0;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-result {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 20px;
  color:rgb(255, 222, 202)
}